<div class="bannercontainer bannerV1">
    <div class="fullscreenbanner-container">
        <div class="fullscreenbanner">
            <ul>
                <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                    <img src="/src/img/home/banner-slider/slider-bg.jpg" alt="slidebg1" data-bgfit="cover"
                        data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="slider-caption slider-captionV1 container">
                        <div class="tp-caption rs-caption-1 sft start" data-hoffset="0" data-x="700" data-y="0"
                            data-speed="800" data-start="1500" data-easing="Back.easeInOut" data-endspeed="300">
                            <img src="/src/img/home/banner-slider/sl1.png" alt="slider-image" style="width: auto; height: auto;">
                        </div>
                        <div class="tp-caption rs-caption-2 sft" data-hoffset="0" data-y="100" data-x="[15,15,42,15]"
                            data-speed="800" data-start="2000" data-easing="Back.easeInOut" data-endspeed="300">
                            Summer Hat
                        </div>
                        <div class="tp-caption rs-caption-3 sft" data-hoffset="0" data-y="175" data-x="[15,15,42,15]"
                            data-speed="1000" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300"
                            data-endeasing="Power1.easeIn" data-captionhidden="off">
                            Start From - $59.00<br>
                            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis turpis
                                pharetra pretium nec eu sem.</small>
                        </div>
                        <div class="tp-caption rs-caption-4 sft" data-hoffset="0" data-y="310" data-x="[15,15,42,15]"
                            data-speed="800" data-start="3500" data-easing="Power4.easeOut" data-endspeed="300"
                            data-endeasing="Power1.easeIn" data-captionhidden="off">
                            <span class="page-scroll"><a href="#" class="btn primary-btn">Buy Now<i class="fa fa-chevron-right"></i></a></span>
                        </div>
                    </div>
                </li>
                <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 2">
                    <img src="/src/img/home/banner-slider/slider-bg.jpg" alt="slidebg" data-bgfit="cover"
                        data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="slider-caption slider-captionV1 container">
                        <div class="tp-caption rs-caption-1 sft start" data-hoffset="0" data-y="0" data-x="[15,15,42,15]"
                            data-speed="800" data-start="1500" data-easing="Back.easeInOut" data-endspeed="300">
                            <img src="/src/img/home/banner-slider/sl2.png" alt="slider-image">
                        </div>
                        <div class="tp-caption rs-caption-2 sft " data-hoffset="0" data-y="100" data-x="600" data-speed="800"
                            data-start="2000" data-easing="Back.easeInOut" data-endspeed="300">
                            Ladies Backpack
                        </div>
                        <div class="tp-caption rs-caption-3 sft" data-hoffset="0" data-y="175" data-x="600" data-speed="1000"
                            data-start="3000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn"
                            data-captionhidden="off">
                            Start From - $259.00 <br>
                            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis turpis
                                pharetra pretium nec eu sem.</small>
                        </div>
                        <div class="tp-caption rs-caption-4 sft" data-hoffset="0" data-y="310" data-x="600" data-speed="800"
                            data-start="3500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn"
                            data-captionhidden="off">
                            <span class="page-scroll"><a href="#" class="btn primary-btn">Buy Now<i class="fa fa-chevron-right"></i></a></span>
                        </div>
                    </div>
                </li>
                <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 3">
                    <img src="/src/img/home/banner-slider/slider-bg.jpg" alt="slidebg1" data-bgfit="cover"
                        data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="slider-caption slider-captionV1 container">

                        <div class="tp-caption rs-caption-1 sft start" data-hoffset="0" data-x="450" data-y="54"
                            data-speed="800" data-start="1500" data-easing="Back.easeInOut" data-endspeed="300">
                            <img src="/src/img/home/banner-slider/shoe1.png" alt="slider-image" style="width: 781px; height: 416px;">
                        </div>

                        <div class="tp-caption rs-caption-2 sft" data-hoffset="0" data-y="100" data-x="[15,15,42,15]"
                            data-speed="800" data-start="2000" data-easing="Back.easeInOut" data-endspeed="300">
                            Canvas Sneaker
                        </div>

                        <div class="tp-caption rs-caption-3 sft" data-hoffset="0" data-y="175" data-x="[15,15,42,15]"
                            data-speed="1000" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300"
                            data-endeasing="Power1.easeIn" data-captionhidden="off">
                            Start From - $259.00 <br>
                            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis turpis
                                pharetra pretium nec eu sem.</small>
                        </div>
                        <div class="tp-caption rs-caption-4 sft" data-hoffset="0" data-y="310" data-x="[15,15,42,15]"
                            data-speed="800" data-start="3500" data-easing="Power4.easeOut" data-endspeed="300"
                            data-endeasing="Power1.easeIn" data-captionhidden="off">
                            <span class="page-scroll"><a href="#" class="btn primary-btn">Buy Now<i class="fa fa-chevron-right"></i></a></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<section class="mainContent clearfix">
    <div class="container">

        <div class="page-header">
            <h4>Free Products</h4>
        </div>

        <div class="row featuredProducts featuredProductsSlider margin-bottom" style="width:100%;">
            <div class="slide col-md-3" *ngFor="let freesubcategory of getFreeSubCategoryDetails">
                <div class="productImage">
                    <input type="hidden" id="catid" name="catid" #catid value={{freesubcategory.SubCategoryId}}>
                    <img id="h4freeartimg_{{freesubcategory.SubCategoryId}}" name="h4freeartimg" #h4freeartimg src={{freesubcategory.SubCategoryImage}}
                        alt="featured-product-img">
                    <input type="hidden" id="h4freedesc_{{freesubcategory.SubCategoryId}}" name="h4freedesc"
                        #h4freedesc value={{freesubcategory.Description}}>
                    <input type="hidden" id="hidfreeimgsize_{{freesubcategory.SubCategoryId}}" name="hidfreeimgsize"
                        #hidfreeimgsize value={{freesubcategory.imageSize}}>
                    <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                            <!-- <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success"
                                    data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                                    data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li> -->
                            <li><a id="btnfreeshow_{{freesubcategory.SubCategoryId}}" name="btnfreeshow" #btnfreeshow
                                    (click)="getdata(h4freename.id, h4freeartimgpercost.id, h4freeartimg.id, h4freedesc.id, hidfreeimgsize.id)"
                                    data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="productCaption">
                    <a href="single-product.html">
                        <h4 id="h4freename_{{freesubcategory.SubCategoryId}}" name="h4freename" #h4freename>{{freesubcategory.SubCategoryName}}</h4>
                    </a>
                    <h3 id="h4freeartimgpercost_{{freesubcategory.SubCategoryId}}" name="h4freeartimgpercost"
                        #h4freeartimgpercost>Rs. {{freesubcategory.ArtImgPerCost}}</h3>
                </div>
            </div>
        </div>

        <div class="page-header">
            <h4>Sale Products</h4>
        </div>
        <div class="row featuredProducts featuredProductsSlider margin-bottom" style="width:100%;">
            <div class="slide col-md-3" *ngFor="let salesubcategory of getSaleSubCategoryDetails">
                <div class="productImage">
                    <img id="h4saleartimg_{{salesubcategory.SubCategoryId}}" name="h4saleartimg" #h4saleartimg src={{salesubcategory.SubCategoryImage}}
                        alt="featured-product-img">
                    <input type="hidden" id="h4saledesc_{{salesubcategory.SubCategoryId}}" name="h4saledesc"
                        #h4saledesc value={{salesubcategory.Description}}>
                    <input type="hidden" id="hidsaleimgsize_{{salesubcategory.SubCategoryId}}" name="hidsaleimgsize"
                        #hidsaleimgsize value={{salesubcategory.imageSize}}>
                    <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                            <!-- <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success"
                                    data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                                    data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li> -->
                            <li><a id="btnsaleshow_{{salesubcategory.SubCategoryId}}" name="btnsaleshow" #btnsaleshow
                                    (click)="getdata(h4salename.id, h4saleartimgpercost.id, h4saleartimg.id, h4saledesc.id, hidsaleimgsize.id)"
                                    data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="productCaption">
                    <a href="single-product.html">
                        <h4 id="h4salename_{{salesubcategory.SubCategoryId}}" name="h4salename" #h4salename>{{salesubcategory.SubCategoryName}}</h4>
                    </a>
                    Rs.<h3 id="h4saleartimgpercost_{{salesubcategory.SubCategoryId}}" name="h4saleartimgpercost"
                        #h4saleartimgpercost>{{salesubcategory.ArtImgPerCost}}</h3>
                </div>
            </div>
        </div>
    </div>
</section>
